docling
pymupdf4llm
marker-pdf 
langchain-text-splitters 
langchain-google-genai
sentence-transformers 
chromadb 
langchain  
langchain-core
langchain-community 
transformers 
bitsandbytes 
accelerate
rouge-score
ragas
datasets

